<section data-ng-controller="HomeController">
    <div class="col-md-12 text-center">
        <div class="well">
            <h1>
                Krace - Kroegen race!
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">User</div>
                <div class="panel-body">
                    You are logged in as: {{authentication.user.displayName}}
                    <br>
                    This user is admin: {{isAdmin}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Races</div>
                <div class="panel-body">
                    There are currently <a href="/#!/races">{{races.length}} races</a> in progress
                    <div class="list-group">
                        <div data-ng-repeat="race in races" class="list-group-item">
                            <a class="h4 list-group-item-heading" data-ng-bind="race.name" data-ng-href="#!/races/{{race._id}}"></a>
                            <span data-ng-show="isAdmin" class="pull-right">
                                <a href="/#!/races/{{race._id}}/edit" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a ng-controller="RacesController" data-ng-click="remove(race);" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </span>
                            <br>
                            <small class="list-group-item-text">
                                Created by <span data-ng-bind="race.user.displayName"></span>
                            </small>
                        </div>
                    </div>
                    <div data-ng-show="isAdmin">
                        <a class="btn btn-block btn-primary" href="/#!/races/create">Add new race</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Information</div>
                <div class="panel-body">
                    Krace made by Benny Bijl &amp; Bryan Schreuder.
                </div>
            </div>
        </div>
    </div>
</section>
