<section data-ng-controller="WaypointsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Waypoints</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="waypoint in waypoints" data-ng-href="#!/waypoints/{{waypoint._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="waypoint.created | date:'medium'"></span>
				by
				<span data-ng-bind="waypoint.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="waypoint.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!waypoints.$resolved || waypoints.length">
    	No Waypoints yet, why don't you <a href="/#!/waypoints/create">create one</a>?
    </div>
</section>